<div class="container">
  <h1>Prueba técnica - Estudio Faser</h1>
  <h2>Listado de tareas</h2>
  <ol>
    <!-- Formulario para agregar tareas -->
    <form (ngSubmit)="agregarTarea()">
      <div>
        <label for="titulo">Titulo</label>
        <input
          id="titulo"
          [(ngModel)]="nuevaTarea.titulo"
          name="titulo"
          required
        />
      </div>
      <div>
        <label for="tiempo">Tiempo (minutos)</label>
        <input
          id="tiempo"
          [(ngModel)]="nuevaTarea.minutos"
          name="tiempo"
          required
        />
      </div>
      <button type="submit">Agregar tarea</button>
    </form>

    <!-- Tabla con las tareas -->
    <table border="1">
      <thead>
        <tr>
          <th (click)="ordenarTareas('titulo')">
            <span *ngIf="sortBy === 'titulo'">
              {{ ascending ? "▲" : "▼" }}
            </span>
            Titulo
          </th>
          <th (click)="ordenarTareas('minutos')">
            <span *ngIf="sortBy === 'minutos'">
              {{ ascending ? "▲" : "▼" }}
            </span>
            Tiempo (minutos)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of tareas; let i = index" [ngStyle]="{'background-color': destacarTarea(tarea) ? 'lightblue' : 'transparent'}">
          <td>{{ tarea.titulo }}</td>
          <td>{{ tarea.minutos }}</td>
          <td><input type="checkbox" [(ngModel)]="tarea.seleccionado" /></td>
        </tr>
      </tbody>
    </table>

    <!-- Botón para eliminar tareas seleccionadas -->
    <form (ngSubmit)="eliminarTarea()">
      <button type="submit">Eliminar tarea</button>
    </form>

    <!--Botón para destacar tareas seleccioandas-->
    <form (ngSubmit)="destacarTareas()">
      <button type="submit">Destacar tarea</button>
    </form>

    <!--Botón para ordenar aleatoreamente-->
    <form (ngSubmit)="aleatorio()">
      <button type="submit">Random</button>
    </form>
  </ol>
</div>
